{% extends "base.njk" %}

{% block body %}
<main class="home page">
    <h1>{{ title }}</h1>
    <div class="home__intro">{{ intro | safe }}</div>
    <div class="home__auth">
        {% if user %}
            Hi, {{ user.data.name }} <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a> or <a href="/signup">Sign up</a>
        {% endif %}
    </div>
    {% if user %}
        <div class="home__groups">
            <a href="/new">Create a new group</a>
        </div>
        {% if groups | length %}
            <ul>
                {% for group in groups %}
                    <li><a href="/{{ group.data.slug }}">{{ group.data.name }}</a></li></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</main>
{% endblock %}