{% extends "base.njk" %}

{% block body %}
<div class="home page">
    <h1>{{ title }}</h1>
    <div class="home__intro">{{ intro | safe }}</div>
    <div class="home__auth">
        {% if user %}
            Hi, {{ user.data.name }} <a href="/logout">Logout</a>
        {% else %}
            <a href="/login">Login</a> or <a href="/signup">Sign up</a>
        {% endif %}
    </div>
</div>
{% endblock %}