@use 'variables' as *;
@use 'sass:color';

main.auth {
	max-width: 450px;

	p {
		margin-bottom: 20px;
	}

	.login__options,
	.signup__options {
		margin-top: 30px;
		border-top: 1px solid $c-medium;
		padding-top: 10px;
		display: flex;
		flex-direction: column;

		a {
			margin-top: 10px;
		}
	}

	input[type="text"].reset-code {
		font-family: $f-monospace;
		font-size: 2em;
		width: 140px;
	}

    .feedback {
        background: color.adjust($c-alert, $lightness: 30%);
        padding: 15px;
        margin-bottom: 15px;
        line-height: 1.2;
    }
}
