{% extends "base.njk" %}

{% block body %}
{% include "partials/nav.njk" %}
<div class="password">
	<form action="/password/{{ id }}" method="post" class="password__form">
		<h2>Forgotten password</h2>
        <p>{{ feedback }}</p>
		<label>
			Verification Code
			<input type="text" name="code" autocomplete="off">
		</label>
		<input type="submit" value="Continue">
	</form>
</div>
{% endblock %}