{% extends "base.njk" %}

{% block body %}
{% include "partials/nav.njk" %}
<div class="password">
	<form action="/password/reset" method="post" class="password__form">
		<h2>Reset your password</h2>
		<label>
			Enter a new password
			<input type="password" name="password">
		</label>
		<label>
			Re-enter the same password
			<input type="password" name="password2">
		</label>
		{% if feedback %}
			<div class="feedback">
				{{ feedback }}
			</div>
		{% endif %}
		<input type="submit" value="Reset Password">
	</form>
</div>
{% endblock %}