{% extends "base.njk" %}

{% block body %}
{% include "partials/nav.njk" %}
<div class="password">
	<h2>Forgotten password</h2>
	<p>{{ feedback }}</p>
	<a href="/" class="button">Done</a>
</div>
{% endblock %}