{% extends "base.njk" %}

{% block body %}
{% include "partials/nav.njk" %}
<main class="password auth">
	<form action="/password" method="post" class="password__form">
		<h2>Forgotten password</h2>
		<p>Receive a password reset email.</p>
		<label>
			Email address
			<input type="email" value="{{ email }}" name="email">
		</label>
		{% if feedback %}
			<div class="feedback">
				{{ feedback }}
			</div>
		{% endif %}
		<input type="submit" value="Reset Password">
	</form>
</main>
{% endblock %}